2. DATA UNDERSTANDING

2.1 Importing Necessary Libraries

In [2]:
import pandas as pd
import numpy as np
from io import StringIO

2.2 Loading the Dataset

In [3]:
import io
def load_data(data):
    # Load the dataset
    df = pd.read_csv("H1N1_Flu_Vaccines.csv")
    
    # Head
    head = df.head()
    
    # Shape
    shape = df.shape
   

    #Describe
    describe=df.describe(include="all")

    #Info
    buffer = io.StringIO()
    df.info(buf=buffer)
    info_str = buffer.getvalue()
    # Output dictionary
    output = {
        "Head": head,
        "Shape": shape,
        "Describe": describe,
        "Info":info_str
    }

    return output
data_summary = load_data("H1N1_Flu_Vaccines.csv")

print("Head:")
print(data_summary["Head"])
print("\nShape:")
print(data_summary["Shape"])
print("\nDescribe:")
print(data_summary["Describe"])
print("\nInfo:")
print(data_summary["Info"])

Head:
   respondent_id  h1n1_concern  h1n1_knowledge  behavioral_antiviral_meds  \
0              0           1.0             0.0                        0.0
1              1           3.0             2.0                        0.0
2              2           1.0             1.0                        0.0
3              3           1.0             1.0                        0.0
4              4           2.0             1.0                        0.0

   behavioral_avoidance  behavioral_face_mask  behavioral_wash_hands  \
0                   0.0                   0.0                    0.0
1                   1.0                   0.0                    1.0
2                   1.0                   0.0                    0.0
3                   1.0                   0.0                    1.0
4                   1.0                   0.0                    1.0

   behavioral_large_gatherings  behavioral_outside_home  \
0                          0.0                      1.0
1                          0.0                      1.0
2                          0.0                      0.0
3                          1.0                      0.0
4                          1.0                      0.0

   behavioral_touch_face  ...  rent_or_own   employment_status  \
0                    1.0  ...          Own  Not in Labor Force
1                    1.0  ...         Rent            Employed
2                    0.0  ...          Own            Employed
3                    0.0  ...         Rent  Not in Labor Force
4                    1.0  ...          Own            Employed

   hhs_geo_region                census_msa  household_adults  \
0        oxchjgsf                   Non-MSA               0.0
1        bhuqouqj  MSA, Not Principle  City               0.0
2        qufhixun  MSA, Not Principle  City               2.0
3        lrircsnp       MSA, Principle City               0.0
4        qufhixun  MSA, Not Principle  City               1.0

   household_children  employment_industry  employment_occupation  \
0                 0.0                  NaN                    NaN
1                 0.0             pxcmvdjn               xgwztkwe
2                 0.0             rucpziij               xtkaffoo
3                 0.0                  NaN                    NaN
4                 0.0             wxleyezf               emcorrxb

   h1n1_vaccine  seasonal_vaccine
0             0                 0
1             0                 1
2             0                 0
3             0                 1
4             0                 0

[5 rows x 38 columns]

Shape:
(26707, 38)

Describe:
        respondent_id  h1n1_concern  h1n1_knowledge  \
count    26707.000000  26615.000000    26591.000000
unique            NaN           NaN             NaN
top               NaN           NaN             NaN
freq              NaN           NaN             NaN
mean     13353.000000      1.618486        1.262532
std       7709.791156      0.910311        0.618149
min          0.000000      0.000000        0.000000
25%       6676.500000      1.000000        1.000000
50%      13353.000000      2.000000        1.000000
75%      20029.500000      2.000000        2.000000
max      26706.000000      3.000000        2.000000

        behavioral_antiviral_meds  behavioral_avoidance  behavioral_face_mask  \
count                26636.000000          26499.000000          26688.000000
unique                        NaN                   NaN                   NaN
top                           NaN                   NaN                   NaN
freq                          NaN                   NaN                   NaN
mean                     0.048844              0.725612              0.068982
std                      0.215545              0.446214              0.253429
min                      0.000000              0.000000              0.000000
25%                      0.000000              0.000000              0.000000
50%                      0.000000              1.000000              0.000000
75%                      0.000000              1.000000              0.000000
max                      1.000000              1.000000              1.000000

        behavioral_wash_hands  behavioral_large_gatherings  \
count            26665.000000                  26620.00000
unique                    NaN                          NaN
top                       NaN                          NaN
freq                      NaN                          NaN
mean                 0.825614                      0.35864
std                  0.379448                      0.47961
min                  0.000000                      0.00000
25%                  1.000000                      0.00000
50%                  1.000000                      0.00000
75%                  1.000000                      1.00000
max                  1.000000                      1.00000

        behavioral_outside_home  behavioral_touch_face  ...  rent_or_own  \
count              26625.000000           26579.000000  ...        24665
unique                      NaN                    NaN  ...            2
top                         NaN                    NaN  ...          Own
freq                        NaN                    NaN  ...        18736
mean                   0.337315               0.677264  ...          NaN
std                    0.472802               0.467531  ...          NaN
min                    0.000000               0.000000  ...          NaN
25%                    0.000000               0.000000  ...          NaN
50%                    0.000000               1.000000  ...          NaN
75%                    1.000000               1.000000  ...          NaN
max                    1.000000               1.000000  ...          NaN

        employment_status  hhs_geo_region                census_msa  \
count               25244           26707                     26707
unique                  3              10                         3
top              Employed        lzgpxyit  MSA, Not Principle  City
freq                13560            4297                     11645
mean                  NaN             NaN                       NaN
std                   NaN             NaN                       NaN
min                   NaN             NaN                       NaN
25%                   NaN             NaN                       NaN
50%                   NaN             NaN                       NaN
75%                   NaN             NaN                       NaN
max                   NaN             NaN                       NaN

        household_adults  household_children  employment_industry  \
count       26458.000000        26458.000000                13377
unique               NaN                 NaN                   21
top                  NaN                 NaN             fcxhlnwr
freq                 NaN                 NaN                 2468
mean            0.886499            0.534583                  NaN
std             0.753422            0.928173                  NaN
min             0.000000            0.000000                  NaN
25%             0.000000            0.000000                  NaN
50%             1.000000            0.000000                  NaN
75%             1.000000            1.000000                  NaN
max             3.000000            3.000000                  NaN

        employment_occupation  h1n1_vaccine  seasonal_vaccine
count                   13237  26707.000000      26707.000000
unique                     23           NaN               NaN
top                  xtkaffoo           NaN               NaN
freq                     1778           NaN               NaN
mean                      NaN      0.212454          0.465608
std                       NaN      0.409052          0.498825
min                       NaN      0.000000          0.000000
25%                       NaN      0.000000          0.000000
50%                       NaN      0.000000          0.000000
75%                       NaN      0.000000          1.000000
max                       NaN      1.000000          1.000000

[11 rows x 38 columns]

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   h1n1_concern                 26615 non-null  float64
 2   h1n1_knowledge               26591 non-null  float64
 3   behavioral_antiviral_meds    26636 non-null  float64
 4   behavioral_avoidance         26499 non-null  float64
 5   behavioral_face_mask         26688 non-null  float64
 6   behavioral_wash_hands        26665 non-null  float64
 7   behavioral_large_gatherings  26620 non-null  float64
 8   behavioral_outside_home      26625 non-null  float64
 9   behavioral_touch_face        26579 non-null  float64
 10  doctor_recc_h1n1             24547 non-null  float64
 11  doctor_recc_seasonal         24547 non-null  float64
 12  chronic_med_condition        25736 non-null  float64
 13  child_under_6_months         25887 non-null  float64
 14  health_worker                25903 non-null  float64
 15  health_insurance             14433 non-null  float64
 16  opinion_h1n1_vacc_effective  26316 non-null  float64
 17  opinion_h1n1_risk            26319 non-null  float64
 18  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 19  opinion_seas_vacc_effective  26245 non-null  float64
 20  opinion_seas_risk            26193 non-null  float64
 21  opinion_seas_sick_from_vacc  26170 non-null  float64
 22  age_group                    26707 non-null  object
 23  education                    25300 non-null  object
 24  race                         26707 non-null  object
 25  sex                          26707 non-null  object
 26  income_poverty               22284 non-null  object
 27  marital_status               25299 non-null  object
 28  rent_or_own                  24665 non-null  object
 29  employment_status            25244 non-null  object
 30  hhs_geo_region               26707 non-null  object
 31  census_msa                   26707 non-null  object
 32  household_adults             26458 non-null  float64
 33  household_children           26458 non-null  float64
 34  employment_industry          13377 non-null  object
 35  employment_occupation        13237 non-null  object
 36  h1n1_vaccine                 26707 non-null  int64
 37  seasonal_vaccine             26707 non-null  int64
dtypes: float64(23), int64(3), object(12)
memory usage: 7.7+ MB

In [4]:
data_summary["Shape"]

(26707, 38)

In [5]:
data_summary["Describe"]

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation,h1n1_vaccine,seasonal_vaccine
count,26707.000000,26615.000000,26591.000000,26636.000000,26499.000000,26688.000000,26665.000000,26620.00000,26625.000000,26579.000000,...,24665,25244,26707,26707,26458.000000,26458.000000,13377,13237,26707.000000,26707.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,3,10,3,NaN,NaN,21,23,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Own,Employed,lzgpxyit,"MSA, Not Principle City",NaN,NaN,fcxhlnwr,xtkaffoo,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18736,13560,4297,11645,NaN,NaN,2468,1778,NaN,NaN
mean,13353.000000,1.618486,1.262532,0.048844,0.725612,0.068982,0.825614,0.35864,0.337315,0.677264,...,NaN,NaN,NaN,NaN,0.886499,0.534583,NaN,NaN,0.212454,0.465608
std,7709.791156,0.910311,0.618149,0.215545,0.446214,0.253429,0.379448,0.47961,0.472802,0.467531,...,NaN,NaN,NaN,NaN,0.753422,0.928173,NaN,NaN,0.409052,0.498825
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,0.000000,0.000000
25%,6676.500000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,0.000000,0.000000
50%,13353.000000,2.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.00000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,0.000000,0.000000
75%,20029.500000,2.000000,2.000000,0.000000,1.000000,0.000000,1.000000,1.00000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN,0.000000,1.000000
max,26706.000000,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,3.000000,3.000000,NaN,NaN,1.000000,1.000000

In [6]:
print(data_summary["Info"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   h1n1_concern                 26615 non-null  float64
 2   h1n1_knowledge               26591 non-null  float64
 3   behavioral_antiviral_meds    26636 non-null  float64
 4   behavioral_avoidance         26499 non-null  float64
 5   behavioral_face_mask         26688 non-null  float64
 6   behavioral_wash_hands        26665 non-null  float64
 7   behavioral_large_gatherings  26620 non-null  float64
 8   behavioral_outside_home      26625 non-null  float64
 9   behavioral_touch_face        26579 non-null  float64
 10  doctor_recc_h1n1             24547 non-null  float64
 11  doctor_recc_seasonal         24547 non-null  float64
 12  chronic_med_condition        25736 non-null  float64
 13  child_under_6_months         25887 non-null  float64
 14  health_worker                25903 non-null  float64
 15  health_insurance             14433 non-null  float64
 16  opinion_h1n1_vacc_effective  26316 non-null  float64
 17  opinion_h1n1_risk            26319 non-null  float64
 18  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 19  opinion_seas_vacc_effective  26245 non-null  float64
 20  opinion_seas_risk            26193 non-null  float64
 21  opinion_seas_sick_from_vacc  26170 non-null  float64
 22  age_group                    26707 non-null  object
 23  education                    25300 non-null  object
 24  race                         26707 non-null  object
 25  sex                          26707 non-null  object
 26  income_poverty               22284 non-null  object
 27  marital_status               25299 non-null  object
 28  rent_or_own                  24665 non-null  object
 29  employment_status            25244 non-null  object
 30  hhs_geo_region               26707 non-null  object
 31  census_msa                   26707 non-null  object
 32  household_adults             26458 non-null  float64
 33  household_children           26458 non-null  float64
 34  employment_industry          13377 non-null  object
 35  employment_occupation        13237 non-null  object
 36  h1n1_vaccine                 26707 non-null  int64
 37  seasonal_vaccine             26707 non-null  int64
dtypes: float64(23), int64(3), object(12)
memory usage: 7.7+ MB

3. DATA PREPARATION

In [8]:
print(data_summary["Info"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   h1n1_concern                 26615 non-null  float64
 2   h1n1_knowledge               26591 non-null  float64
 3   behavioral_antiviral_meds    26636 non-null  float64
 4   behavioral_avoidance         26499 non-null  float64
 5   behavioral_face_mask         26688 non-null  float64
 6   behavioral_wash_hands        26665 non-null  float64
 7   behavioral_large_gatherings  26620 non-null  float64
 8   behavioral_outside_home      26625 non-null  float64
 9   behavioral_touch_face        26579 non-null  float64
 10  doctor_recc_h1n1             24547 non-null  float64
 11  doctor_recc_seasonal         24547 non-null  float64
 12  chronic_med_condition        25736 non-null  float64
 13  child_under_6_months         25887 non-null  float64
 14  health_worker                25903 non-null  float64
 15  health_insurance             14433 non-null  float64
 16  opinion_h1n1_vacc_effective  26316 non-null  float64
 17  opinion_h1n1_risk            26319 non-null  float64
 18  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 19  opinion_seas_vacc_effective  26245 non-null  float64
 20  opinion_seas_risk            26193 non-null  float64
 21  opinion_seas_sick_from_vacc  26170 non-null  float64
 22  age_group                    26707 non-null  object
 23  education                    25300 non-null  object
 24  race                         26707 non-null  object
 25  sex                          26707 non-null  object
 26  income_poverty               22284 non-null  object
 27  marital_status               25299 non-null  object
 28  rent_or_own                  24665 non-null  object
 29  employment_status            25244 non-null  object
 30  hhs_geo_region               26707 non-null  object
 31  census_msa                   26707 non-null  object
 32  household_adults             26458 non-null  float64
 33  household_children           26458 non-null  float64
 34  employment_industry          13377 non-null  object
 35  employment_occupation        13237 non-null  object
 36  h1n1_vaccine                 26707 non-null  int64
 37  seasonal_vaccine             26707 non-null  int64
dtypes: float64(23), int64(3), object(12)
memory usage: 7.7+ MB